/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(base-white-1.svg);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .stick {
    position: absolute;
    background: url(stick-2.svg);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

/*END Xbox One Controller Styling*/
